<h1>a) Create a form that saves a blog post to tiny-lasagna-server.
  The post should have a title and a body. It does not need to display
   blog posts, just save them.</h1>

<form style="margin-left: 150px;">
  Title:<br>
  <input type="text" name="title" size="75">
  <p>
  <textarea type="text" name="blog" rows="10" cols="74">
  </textarea>
  <p>
  <input type="submit" value="Save">
</form>
